<?xml version="1.0" encoding="UTF-8"?>
<web-app>
　　<session-config>
　　　 <session-timeout>90</session-timeout>
　　 </session-config>
    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
	</welcome-file-list>
    <servlet>
        <description></description>
        <display-name>get_verifyimg</display-name>
        <servlet-name>get_verifyimg</servlet-name>
        <servlet-class>edu.cup.rs.common.CreateVerifyImage</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>add_user</display-name>
        <servlet-name>add_user</servlet-name>
        <servlet-class>edu.cup.rs.reg.AddUserAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>add_bmxx</display-name>
        <servlet-name>add_bmxx</servlet-name>
        <servlet-class>edu.cup.rs.reg.AddBmxxAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>check_user</display-name>
        <servlet-name>check_user</servlet-name>
        <servlet-class>edu.cup.rs.reg.UserLoginAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>exportfile</display-name>
        <servlet-name>exportfile</servlet-name>
        <servlet-class>edu.cup.rs.common.ExportFileAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>exportbmxx</display-name>
        <servlet-name>exportbmxx</servlet-name>
        <servlet-class>edu.cup.rs.reg.ExportBmxxcjAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>setaudit</display-name>
        <servlet-name>setaudit</servlet-name>
        <servlet-class>edu.cup.rs.reg.AuditAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>set_audit_advice</display-name>
        <servlet-name>set_audit_advice</servlet-name>
        <servlet-class>edu.cup.rs.reg.AuditAdviceAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>setfee</display-name>
        <servlet-name>setfee</servlet-name>
        <servlet-class>edu.cup.rs.reg.ConfirmFeeAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>public_info</display-name>
        <servlet-name>public_info</servlet-name>
        <servlet-class>edu.cup.rs.reg.PublishAuditAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>export_audit</display-name>
        <servlet-name>export_audit</servlet-name>
        <servlet-class>edu.cup.rs.reg.ExportAuditResultAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>create_adm</display-name>
        <servlet-name>create_adm</servlet-name>
        <servlet-class>edu.cup.rs.reg.CreateAdmissionAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>arra_room</display-name>
        <servlet-name>arra_room</servlet-name>
        <servlet-class>edu.cup.rs.reg.ArraExamRoomAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>export_adm</display-name>
        <servlet-name>export_adm</servlet-name>
        <servlet-class>edu.cup.rs.reg.ExportAdmissionResultAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>export_room</display-name>
        <servlet-name>export_room</servlet-name>
        <servlet-class>edu.cup.rs.reg.ExportExamRoomAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>admit</display-name>
        <servlet-name>admit</servlet-name>
        <servlet-class>edu.cup.rs.reg.AdmitAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>input_score</display-name>
        <servlet-name>input_score</servlet-name>
        <servlet-class>edu.cup.rs.reg.InputScoreAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>adjust_admit</display-name>
        <servlet-name>adjust_admit</servlet-name>
        <servlet-class>edu.cup.rs.reg.AdjustAdmitAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>export_exam</display-name>
        <servlet-name>export_exam</servlet-name>
        <servlet-class>edu.cup.rs.reg.ExportExamResultAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>export_admit</display-name>
        <servlet-name>export_admit</servlet-name>
        <servlet-class>edu.cup.rs.reg.ExportAdmitResultAction</servlet-class>
    </servlet>
     <servlet>
        <description></description>
        <display-name>update_kmsj</display-name>
        <servlet-name>update_kmsj</servlet-name>
        <servlet-class>edu.cup.rs.reg.UpdateCourseScheduleAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>update_kssj</display-name>
        <servlet-name>update_kssj</servlet-name>
        <servlet-class>edu.cup.rs.reg.UpdateSystemSettingAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>modi_pwd</display-name>
        <servlet-name>modi_pwd</servlet-name>
        <servlet-class>edu.cup.rs.reg.ModifyPwdAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>modi_reg</display-name>
        <servlet-name>modi_reg</servlet-name>
        <servlet-class>edu.cup.rs.reg.ModifyRegAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>reset_pwd_chk</display-name>
        <servlet-name>reset_pwd_chk</servlet-name>
        <servlet-class>edu.cup.rs.reg.ResetPwdCheckAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>reset_pwd</display-name>
        <servlet-name>reset_pwd</servlet-name>
        <servlet-class>edu.cup.rs.reg.ResetPwdAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>save_file</display-name>
        <servlet-name>save_file</servlet-name>
        <servlet-class>edu.cup.rs.reg.SaveStaticPageAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>add_cjjd</display-name>
        <servlet-name>add_cjjd</servlet-name>
        <servlet-class>edu.cup.rs.reg.AddCjjdAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>exportcjjd</display-name>
        <servlet-name>exportcjjd</servlet-name>
        <servlet-class>edu.cup.rs.reg.ExportCjjdAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>update_fbcz</display-name>
        <servlet-name>update_fbcz</servlet-name>
        <servlet-class>edu.cup.rs.reg.UpdateResetSettingAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>delete_zszy</display-name>
        <servlet-name>delete_zszy</servlet-name>
        <servlet-class>edu.cup.rs.reg.DeleteZszyAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>add_zszy</display-name>
        <servlet-name>add_zszy</servlet-name>
        <servlet-class>edu.cup.rs.reg.AddZszyAction</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>update_zszy</display-name>
        <servlet-name>update_zszy</servlet-name>
        <servlet-class>edu.cup.rs.reg.UpdateZszyAction</servlet-class>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>update_zszy</servlet-name>
        <url-pattern>/update_zszy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_zszy</servlet-name>
        <url-pattern>/add_zszy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_zszy</servlet-name>
        <url-pattern>/delete_zszy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_fbcz</servlet-name>
        <url-pattern>/update_fbcz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportcjjd</servlet-name>
        <url-pattern>/exportcjjd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_cjjd</servlet-name>
        <url-pattern>/add_cjjd</url-pattern>
    </servlet-mapping>	
    <servlet-mapping>
        <servlet-name>save_file</servlet-name>
        <url-pattern>/save_file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset_pwd</servlet-name>
        <url-pattern>/reset_pwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset_pwd_chk</servlet-name>
        <url-pattern>/reset_pwd_chk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modi_reg</servlet-name>
        <url-pattern>/modi_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modi_pwd</servlet-name>
        <url-pattern>/modi_pwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_kssj</servlet-name>
        <url-pattern>/update_kssj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_kmsj</servlet-name>
        <url-pattern>/update_kmsj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export_admit</servlet-name>
        <url-pattern>/export_admit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export_exam</servlet-name>
        <url-pattern>/export_exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adjust_admit</servlet-name>
        <url-pattern>/adjust_admit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>input_score</servlet-name>
        <url-pattern>/input_score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admit</servlet-name>
        <url-pattern>/admit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export_room</servlet-name>
        <url-pattern>/export_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export_adm</servlet-name>
        <url-pattern>/export_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arra_room</servlet-name>
        <url-pattern>/arra_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_adm</servlet-name>
        <url-pattern>/create_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export_audit</servlet-name>
        <url-pattern>/export_audit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>public_info</servlet-name>
        <url-pattern>/public_info</url-pattern>
    </servlet-mapping>
     <servlet>
        <description></description>
        <display-name>del_bmxx</display-name>
        <servlet-name>del_bmxx</servlet-name>
        <servlet-class>edu.cup.rs.reg.DeleteBmxxAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>del_bmxx</servlet-name>
        <url-pattern>/del_bmxx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setfee</servlet-name>
        <url-pattern>/setfee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>set_audit_advice</servlet-name>
        <url-pattern>/set_audit_advice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setaudit</servlet-name>
        <url-pattern>/setaudit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportbmxx</servlet-name>
        <url-pattern>/exportbmxx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportfile</servlet-name>
        <url-pattern>/exportfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_verifyimg</servlet-name>
        <url-pattern>/get_verifyimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_bmxx</servlet-name>
        <url-pattern>/add_bmxx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_user</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_user</servlet-name>
        <url-pattern>/check_user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>org.apache.jsp.index_jsp</servlet-name>
        <servlet-class>org.apache.jsp.index_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.reindex_jsp</servlet-name>
        <servlet-class>org.apache.jsp.reindex_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.error_jsp</servlet-name>
        <servlet-class>org.apache.jsp.error_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.ok_jsp</servlet-name>
        <servlet-class>org.apache.jsp.ok_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.adminindex_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.adminindex_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.bmsjwh_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.bmsjwh_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.chushen_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.chushen_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.cjgl_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.cjgl_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.edit_005fstatic_005fpage_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.edit_005fstatic_005fpage_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.kch_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.kch_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.kssjwh_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.kssjwh_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.ksxx_005fprt_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.ksxx_005fprt_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.ksxx_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.ksxx_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.ksxxgl_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.ksxxgl_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.lq_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.lq_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.lrlq_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.lrlq_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.modzy_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.modzy_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.qrbmf_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.qrbmf_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.sczkzh_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.sczkzh_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.xtwh_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.xtwh_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.xxdc_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.xxdc_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.common.access_005fcontrol_jsp</servlet-name>
        <servlet-class>org.apache.jsp.common.access_005fcontrol_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.common.admin_005fcontrol_jsp</servlet-name>
        <servlet-class>org.apache.jsp.common.admin_005fcontrol_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.kindeditor.jsp.upload_005fjson_jsp</servlet-name>
        <servlet-class>org.apache.jsp.kindeditor.jsp.upload_005fjson_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.kindeditor.jsp.file_005fmanager_005fjson_jsp</servlet-name>
        <servlet-class>org.apache.jsp.kindeditor.jsp.file_005fmanager_005fjson_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.attention_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.attention_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.browseinfo_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.browseinfo_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.chengji_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.chengji_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.enrollment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.enrollment_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.luqu_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.luqu_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.modiinfo_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.modiinfo_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.shenhejieguo_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.shenhejieguo_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.stumain_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.stumain_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.zhun_005fprt_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.zhun_005fprt_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.zhun_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.zhun_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.register.findpwdstp1_jsp</servlet-name>
        <servlet-class>org.apache.jsp.register.findpwdstp1_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.register.findpwdstp2_jsp</servlet-name>
        <servlet-class>org.apache.jsp.register.findpwdstp2_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.register.modipwd_jsp</servlet-name>
        <servlet-class>org.apache.jsp.register.modipwd_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.register.modixx_jsp</servlet-name>
        <servlet-class>org.apache.jsp.register.modixx_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.register.userreg_jsp</servlet-name>
        <servlet-class>org.apache.jsp.register.userreg_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.bmsq_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.bmsq_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.bmsq_005fbr_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.bmsq_005fbr_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.bmsq_005fmo_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.bmsq_005fmo_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.cjjdb_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.cjjdb_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.modicjjd_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.modicjjd_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.browsecjjd_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.browsecjjd_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.pcjjd_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.pcjjd_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.logslist_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.logslist_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.fbcz_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.fbcz_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.register.modireg_jsp</servlet-name>
        <servlet-class>org.apache.jsp.register.modireg_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.loginin.chengji_005flq_jsp</servlet-name>
        <servlet-class>org.apache.jsp.loginin.chengji_005flq_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.zywh_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.zywh_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.apache.jsp.admin.zy_jsp</servlet-name>
        <servlet-class>org.apache.jsp.admin.zy_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.zy_jsp</servlet-name>
        <url-pattern>/admin/zy.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.zywh_jsp</servlet-name>
        <url-pattern>/admin/zywh.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.chengji_005flq_jsp</servlet-name>
        <url-pattern>/loginin/chengji_lq.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.register.modireg_jsp</servlet-name>
        <url-pattern>/register/modireg.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.fbcz_jsp</servlet-name>
        <url-pattern>/admin/fbcz.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.logslist_jsp</servlet-name>
        <url-pattern>/admin/logslist.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.pcjjd_jsp</servlet-name>
        <url-pattern>/admin/pcjjd.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.browsecjjd_jsp</servlet-name>
        <url-pattern>/loginin/browsecjjd.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.modicjjd_jsp</servlet-name>
        <url-pattern>/loginin/modicjjd.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.cjjdb_jsp</servlet-name>
        <url-pattern>/loginin/cjjdb.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.bmsq_005fmo_jsp</servlet-name>
        <url-pattern>/loginin/bmsq_mo.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.bmsq_005fbr_jsp</servlet-name>
        <url-pattern>/loginin/bmsq_br.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.bmsq_jsp</servlet-name>
        <url-pattern>/loginin/bmsq.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.register.userreg_jsp</servlet-name>
        <url-pattern>/register/userreg.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.register.modixx_jsp</servlet-name>
        <url-pattern>/register/modixx.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.register.modipwd_jsp</servlet-name>
        <url-pattern>/register/modipwd.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.register.findpwdstp2_jsp</servlet-name>
        <url-pattern>/register/findpwdstp2.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.register.findpwdstp1_jsp</servlet-name>
        <url-pattern>/register/findpwdstp1.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.zhun_jsp</servlet-name>
        <url-pattern>/loginin/zhun.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.zhun_005fprt_jsp</servlet-name>
        <url-pattern>/loginin/zhun_prt.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.stumain_jsp</servlet-name>
        <url-pattern>/loginin/stumain.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.shenhejieguo_jsp</servlet-name>
        <url-pattern>/loginin/shenhejieguo.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.modiinfo_jsp</servlet-name>
        <url-pattern>/loginin/modiinfo.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.luqu_jsp</servlet-name>
        <url-pattern>/loginin/luqu.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.enrollment_jsp</servlet-name>
        <url-pattern>/loginin/enrollment.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.chengji_jsp</servlet-name>
        <url-pattern>/loginin/chengji.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.browseinfo_jsp</servlet-name>
        <url-pattern>/loginin/browseinfo.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.loginin.attention_jsp</servlet-name>
        <url-pattern>/loginin/attention.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.kindeditor.jsp.file_005fmanager_005fjson_jsp</servlet-name>
        <url-pattern>/kindeditor/jsp/file_manager_json.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.kindeditor.jsp.upload_005fjson_jsp</servlet-name>
        <url-pattern>/kindeditor/jsp/upload_json.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.common.admin_005fcontrol_jsp</servlet-name>
        <url-pattern>/common/admin_control.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.common.access_005fcontrol_jsp</servlet-name>
        <url-pattern>/common/access_control.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.xxdc_jsp</servlet-name>
        <url-pattern>/admin/xxdc.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.xtwh_jsp</servlet-name>
        <url-pattern>/admin/xtwh.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.sczkzh_jsp</servlet-name>
        <url-pattern>/admin/sczkzh.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.qrbmf_jsp</servlet-name>
        <url-pattern>/admin/qrbmf.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.modzy_jsp</servlet-name>
        <url-pattern>/admin/modzy.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.lrlq_jsp</servlet-name>
        <url-pattern>/admin/lrlq.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.lq_jsp</servlet-name>
        <url-pattern>/admin/lq.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.ksxxgl_jsp</servlet-name>
        <url-pattern>/admin/ksxxgl.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.ksxx_jsp</servlet-name>
        <url-pattern>/admin/ksxx.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.ksxx_005fprt_jsp</servlet-name>
        <url-pattern>/admin/ksxx_prt.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.kssjwh_jsp</servlet-name>
        <url-pattern>/admin/kssjwh.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.kch_jsp</servlet-name>
        <url-pattern>/admin/kch.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.edit_005fstatic_005fpage_jsp</servlet-name>
        <url-pattern>/admin/edit_static_page.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.cjgl_jsp</servlet-name>
        <url-pattern>/admin/cjgl.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.chushen_jsp</servlet-name>
        <url-pattern>/admin/chushen.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.bmsjwh_jsp</servlet-name>
        <url-pattern>/admin/bmsjwh.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.admin.adminindex_jsp</servlet-name>
        <url-pattern>/admin/adminindex.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.ok_jsp</servlet-name>
        <url-pattern>/ok.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.error_jsp</servlet-name>
        <url-pattern>/error.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.reindex_jsp</servlet-name>
        <url-pattern>/reindex.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.apache.jsp.index_jsp</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
</web-app>
